{% extends 'buyer/side.html' %}
{% block content %}
<h1>Shopping Cart</h1>
<ul>
    {% for product_in_cart in products_in_cart %}
        <li>
            <strong>{{ product_in_cart.product.name }}</strong> - Quantity: {{ product_in_cart.quantity }} - Price: {{ product_in_cart.product.price|add:0 }} * {{ product_in_cart.quantity }}
            <form method="post" action="{% url 'cart' %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="update">
                <input type="hidden" name="product_in_order_id" value="{{ product_in_cart.id }}">
                <input type="number" name="quantity" value="{{ product_in_cart.quantity }}">
                <button type="submit">Update Quantity</button>
            </form>
            <form method="post" action="{% url 'cart' %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="product_in_order_id" value="{{ product_in_cart.id }}">
                <button type="submit">Delete from Cart</button>
            </form>
        </li>
    {% endfor %}
</ul>

<p>Total Amount: {{ total_amount }}</p>

{% endblock %}

